<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>115981118459-uo93ghhq9s4qj2r73rqvqgusi82scvbg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.115981118459-uo93ghhq9s4qj2r73rqvqgusi82scvbg</string>
	<key>API_KEY</key>
	<string>AIzaSyAvZP8TghNVBZldduyqgxkTWzsVefGzJbE</string>
	<key>GCM_SENDER_ID</key>
	<string>115981118459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.q4k</string>
	<key>PROJECT_ID</key>
	<string>q4k-1-387e2</string>
	<key>STORAGE_BUCKET</key>
	<string>q4k-1-387e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115981118459:ios:8c42560db221a477a4795e</string>
</dict>
</plist>